<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #el {
            width: 100px;
            height: 100px;
            background-color: skyblue;
        }
    </style>
</head>
<body>
<div id="el"></div>
<script>
    let el = document.getElementById("el");
    el.style.transition = "ease 10s";
    function start() {
        el.style.transform = "translate(300px, 300px)";
    }
    function stop() {
        el.style.transition = "none"
        el.style.transform = getComputedStyle(el).transform;
    }
</script>
</body>
</html>